.gradle/
build/
bin/
out/
.gradletasknamecache

*.class
*.jar
*.war
*.ear

.idea/
*.iml
*.iws
*.ipr
out/

.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries

.metadata/
.classpath
.project
.settings/
*.launch
bin/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.dll
*.so
*.dylib
*.dylib.*

hs_err_pid*.log
replay_pid*.log

.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

*.log
*.tmp
*.bak
*.swp